{% extends "budzetApp/temp.html" %}
{% load static %}

{% block title %}
Budget list
{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/budget_list.css' %}">
{% endblock styles %}

{% block main %}
<h1>Your Budgets</h1>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Date</th>
                <th>Budget Amount</th>
                <th>Total transaction</th>
                <th>Left</th>
                <th>Transactions</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            {% for summary in budget_summaries %}

            <tr>
                <td>
                    <a class="action-btn" href="{% url 'budzetApp:index' %}?budget={{ summary.budget.id }}">
                        Show
                    </a>
                </td>
                <td data-label="Name">{{ summary.budget.name }}</td>
                <td>{{ summary.budget.date }}</td>
                <td class="amount {% if summary.remaining < 0 %}negative{% endif %}">{{ summary.budget.budget_amount }}
                </td>
                <td>{{ summary.total_transactions }}</td>
                <td class="amount {% if summary.remaining < 0 %}negative{% endif %}">{{ summary.remaining }}</td>
                <td>
                    <ul>
                        {% for bt in summary.transactions %}
                        <li>{{ bt.description }} - {{ bt.amount }} ({{ bt.user.username }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td data-label="Members">
                    <ul>
                        {% for user in summary.users%}
                        <li>{{ user.username }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="empty-state">No budgets to show.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}