{% extends "budzetApp/temp.html" %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/budget.css' %}">
<div class="budget-form-container">
    <h1>Create Budget</h1>
    <form method="post" class="budget-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="error-message">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}



        <div class="form-actions">
            <button type="submit" class="btn-submit">Save Budget</button>
        </div>
    </form>
</div>
{% endblock %}