<!DOCTYPE html>
<html lang="pl">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Logging out</title>
   <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
   <div class="logout-container">
      <h2>You were logged out.</h2>
      <p>Successfully logged out.</p>
      <div class="form-actions">
         <a href="{% url 'budzetApp:login' %}" class="back-link">Login again</a>
      </div>
   </div>
</body>
</html>

