{% extends "budzetApp/temp.html" %}
{% load static %}

{% block title %}Logging out{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block main %}
<div class="form-container">
    <h2>You were logged out.</h2>
    <p>Successfully logged out.</p>
    <div class="form-actions">
        <a href="{% url 'budzetApp:login' %}" class="back-link">Login again</a>
    </div>
</div>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block side_menu_login %}
{% endblock %}