    <!-- 
        To jest template do robienia  stron, nie ruszać bo z tego biorą wszystkie html, wymieniac tylko bloki
    -->
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        {% block styles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock styles %}
        {% block scripts %}
        <script src="{% static 'js/script.js' %}"></script>
        {% endblock scripts %}
    </head>
    <body>
        <!-- Pasek na górze strony -->
        <header class="navbar">
            <!-- Ikona menu -->
            <div class="menu-icon">
                <div></div>
                <div></div>
                <div></div>
            </div>
            {% block header %}
            {% endblock header %}
            <div class="user-info">
                {% block user-info %}
                
                {% endblock user-info %}
            </div>
        </header>

   <!-- Menu boczne -->
   <div class="side-menu" id="sideMenu">
    {% block side_menu %}
    
    {% endblock side_menu %}

</div>

        <!-- Główne pole -->
        <div class="main">
            {% block main %}
            {% endblock main %}
        </div>
    </body>
    </html>